/* FP.css */
.header {
	font-family: Arial Black;
}

#box1{
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 262px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 150px;
	padding: 0px;
}

#box2{
	font-family: Arial;
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 786px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 0px;
	padding: 0px;
}

#box3{
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 262px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 150px;
	padding: 0px;
}

#box4{
	font-family: Arial;
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 786px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 0px;
	padding: 0px;
}

#box5{
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 262px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 150px;
	padding: 0px;
}

#box6{
	font-family: Arial;
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 786px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 0px;
	padding: 0px;
}

#box7{
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 262px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 150px;
	padding: 0px;
}

#box8{
	font-family: Arial;
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 786px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 0px;
	padding: 0px;
}

#box9{
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 262px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 150px;
	padding: 0px;
}

#box10{
	font-family: Arial;
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 786px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 0px;
	padding: 0px;
}

#box11{
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 262px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 150px;
	padding: 0px;
}

#box12{
	font-family: Arial;
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 786px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 0px;
	padding: 0px;
}

#box13{
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 262px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 150px;
	padding: 0px;
}

#box14{
	font-family: Arial;
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 786px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 0px;
	padding: 0px;
}

#box15{
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 262px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 150px;
	padding: 0px;
}

#box16{
	font-family: Arial;
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 786px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 0px;
	padding: 0px;
}

#box17{
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 262px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 150px;
	padding: 0px;
}

#box18{
	font-family: Arial;
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 786px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 0px;
	padding: 0px;
}

#box19{
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 262px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 150px;
	padding: 0px;
}

#box20{
	font-family: Arial;
	border: 1px solid #89ece9;
	line-height: 15px;
	width: 786px; height: 170px;
	float: left;
	background-color: white;
	margin-left: 0px;
	padding: 0px;
}