<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../../assets/css/homepage.css">
	<link rel="stylesheet" href="../../assets/css/bootstrap.css">
	<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../assets/css/bootstrap-theme.min.css">
	
    <title>Pet Lovers Community</title>
	<link rel="icon" href="../../assets/img/cologo.png"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <style type="text/css">
   body { background: #EEEBE9; font-family: segoe ui; } 
</style>
<body>
  
  

    <!-- Optional JavaScript -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	
	<!--NavBar-->

	<nav class="navbar navbar-custom mega-nav" style="background-color: #FB7E09;">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" style="background-color: white;" data-toggle="collapse" data-target="#MainMenu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> Menu
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="MainMenu"> 
            <ul class="nav navbar-nav menu-list">
				
                <li class="dropdown list-adoptapet">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Adopt a Pet <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>  
                    <ul class="dropdown-menu mega-dropdown-menu">
                        <li><a href="names.html">Name</a></li>
                        <li><a href="types.html">Pet type</a></li>
                        <li><a href="recent.html">Recently Post</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="adoptall.html">View all</a></li>
                    </ul>
                </li>
                <li class="dropdown list-services">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Services <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>  
                    <ul class="dropdown-menu mega-dropdown-menu">
                        <li><a href="veterinary.html">Veterinary</a></li>
                        <li><a href="training.html">Training</a></li>
                        <li><a href="grooming.html">Grooming</a></li>
                        <li><a href="petsitting.html">Pet Sitting</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="serviceall.html">View all</a></li>
                    </ul>
                </li>
                <li><a href="meetbreed.html">Meet N' Breed</a></li>
                <li><a href="community.html">Community</a></li>
            </ul>	
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="user.html" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b></a>
				<ul id="login-dp" class="dropdown-menu">
					<li>
					 <div class="row">
							<div class="col-md-12">
								Login via
								<div class="social-buttons">
									<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
									<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
								</div>
                                or
								 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
										<div class="form-group">
											 <label class="sr-only" for="exampleInputEmail2">Email address</label>
											 <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required />
										</div>
										<div class="form-group">
											 <label class="sr-only" for="exampleInputPassword2">Password</label>
											 <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required />
                                             <div class="help-block text-right"><a href="forget.html">Forget the password ?</a></div>
										</div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
										</div>
										<div class="checkbox">
											 <label>
											 <input type="checkbox"/> keep me logged-in
											 </label>
										</div>
								 </form>
							</div>
							<div class="bottom text-center">
								New here ? <a href="register.html" data-target="#theModal" data-toggle="modal"><b>Join Us</b></a>
							</div>
							<div class="modal fade text-center" id="theModal">
								<div class="modal-dialog">
									<div class="modal-content">
									</div>
								</div>
							</div>
					 </div>
					</li>
				</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="homepage.html">Home</a></li>
				<li><a href="donations.html">Donations</a></li>
			</ul> 		
            <form id="mega-search" class="navbar-form navbar-right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..."/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        </div>
    </nav>	
	
<!-- End of first navbar-->
    <div class="container navcont">
	<div class="logo_container col-sm-6">
		<span class="logo_helper"></span>
			<a href="https:/petloverscommunity.com">
				<img src="../../assets/img/logo.png"   alt="Pet Lovers Community" id="logo" width="500" /></a>
	</div>
	    <div class="col-sm-3">
            <h4 class="title">Call Us</h4>
			<span class="acount-icon"> 
			<a href="#"><i class="fa fa-address-book fa-fw" aria-hidden="true"></i>09123456789</a></span>
			<h4 class="title">Email Us</h4>
			<span class="acount-icon"> 
			<a href="#"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i>plc@gmail.com</a></span>
        </div>
		<div class="col-sm-3">
            <h4 class="title">&emsp; Follow Us</h4>
            <ul class="social-icon" style="font-size: 36px;">
                <a href="https://www.facebook.com/petloverscommunity" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://www.twitter.com/petloverscommunity" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/petloverscommunity" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://plus.google.com/plc" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>
            </ul>
        </div>
	</div>
	<nav class="navbar navbar-custom mega-nav" style="background-color: #FB7E09;">
	</nav>
	
	<!--Body-->

	
	
	
	<!--End of Body-->		
	
	<!--Footer-->

	<footer class="footer panel-footer" style="border-top: 2px solid #666">
    <div class="container">
        <div class="row">
		 <div class="col-sm-3 category">
            <br/><h4><a href="#">About Us</a></h4>
            <h4><a href="#">Donate</a></h4>
        </div>
		 <div class="col-sm-3">
            <h4 class="title">Category</h4>
            <div class="category">	
				<a href="cats.html" class="btn btn-change" role="button">Cat</a>
				<a href="dogs.html" class="btn btn-change" role="button">Dog</a>
				<a href="others.html" class="btn btn-change" role="button">Other pets</a>
            </div>
        </div>
		<div class="col-sm-3">
            <h4 class="title">Contact Us</h4>
			<span class="acount-icon"> 
			<a href="#"><i class="fa fa-address-book fa-fw" aria-hidden="true"></i>09123456789</a>
			<a href="#"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i>plc@gmail.com</a></span>
        </div>
        <div class="col-sm-3">
            <h4 class="title">Follow Us</h4>
            <ul class="social-icon">
                <a href="https://www.facebook.com/petloverscommunity" class="social"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></a>
                <a href="https://www.twitter.com/petloverscommunity" class="social"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/petloverscommunity" class="social"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></a>
                <a href="https://plus.google.com/plc" class="social"><i class="fa fa-google fa-fw" aria-hidden="true"></i></a>
            </ul>
        </div>                   
        </div>
    </div>	
	</footer>	
	<!--End of Footer-->

	<!--Sub-floor-->
      <div class="footer-copyright copyright">
        <div class="container-fluid copyright">
             Copyright ©2018 petloverscommunity.com All rights reserved
         </div>
      </div> 

	  	<!--JavaScript-->
	<script type="text/javascript" src="../../assets/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../../assets/js/script.js"></script>	
	<script type="text/javascript" src="../../assets/js/npm.js"></script>
	<script type="text/javascript" src="../../assets/js/bootstrap.js"></script>	  
	<script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>	  
	  
  </body>
</html>