@body{
	background-color : black;
	overflow: fixed;
    padding-top: 255px;
}

.container .acount-icon a{
	display:block;
	color: black;
	font-size:18px;
	padding:5px;
	text-decoration:none;
}
.container .social-icon a{
	display:inline-block;
	color: black;
	font-size:25px;
	padding:5px;
}


#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color: #FFFFFF;
}
#login-dp .help-block{
    font-size:12px   
}
#login-dp .bottom{
    background-color: #FFFFFF;
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
.navbar-custom a {
    color: black;
}

.dropdown1:hover .dropdown-menu {
    display: block;
}
.dropdown2:hover .dropdown-menu {
    display: block;
}
.container .navcont{
	background-color: black;
	margin-bottom: 10 px;
}
.navbar .navbar-custom{
	margin-bottom: 100px;
}
#contbody1{
	overflow: hidden;
	padding: 50px 0 20px 0;	
	background: url('../img/paw2.png') repeat;
	margin-bottom: 20px;	
}
.container .textbody {
	width: 760px;
	margin-top: 50px;
}
.container .textbody h1{
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.container .textbody p{
	margin-left: 30px;	
	margin-right: 30px;
	margin-bottom: 30px;
}

.container .centerbody p{
	color: 2px solid black;
	text-align: center;
}
.container .cont1 img{
	margin-left: 70px;
	margin-bottom: 20px;
}
.container .cont3 img{
	margin-bottom: 20px;
}

#contbody2{
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	text-align: center;
	background-color: #DCDCDC; 
}
#contbody3{
	
}

#contbody4{
	overflow: hidden;
	padding: 50px 0 20px 0;
	background: url('../img/pets.jpg') repeat;
	border-top: 1px solid #666;
}
.container .textbody3{
	margin-top: 10px;
}


.footer {
    padding: 50px 0 20px 0;
	background: url('../img/petbg.jpg') repeat;
    background-color: #ECE8E8;
	border-top: 1px solid #666;
    color: black;
}
.footer .title{
	text-align: left;
	color: black;
	font-size:25px;
}
.footer .social-icon{
	padding:0px;
	margin:0px;
}
.footer .social-icon a{
	display:inline-block;
	color: black;
	font-size:25px;
	padding:10px;
}
.footer .acount-icon a{
	display:block;
	color: black;
	font-size:18px;
	padding:5px;
	text-decoration:none;
}
.footer .acount-icon .fa{
	margin-right: 0px;
}
.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}

#sub-floor {
    color: black;
	border-top: 1px solid #666;
    background: #FF8C00; none repeat scroll 0% 0%;
    padding: 10px 0px;
}


.contbody3 {
  margin: 5em auto;
  width: 680px;
  height: 430px;
  background: #F4F4F4;
}

.profile {
  z-index: 100;
  position: relative;
  top: -35px;
  left: 25px;
  float: left;
  width: 290px;
}

.profile img {
  width: 280px;
  height: 500px;
  border-radius: 5px;
  box-shadow: -5px 6px 15px 1px rgba(0, 0, 0, 0.8);
}

.info {
  position: relative;
  top: 15px;
  left: 45px;
  margin: 0;
  width: calc(680px  - 390px);
  height: 430px;
  float: left;
}


.head a {
  list-style: none;
  text-decoration: none;
  background: #222831;
  padding: 10px 15px;
  color: #f7f7f7;
}

.head a:hover {
  background: #16191f;
}

.bio-text {
  color: #666;
  font-size: 14px;
}

h1 h2 h3 h4 h5{
  color: #223;
  font-weight: bold;
}
a{
  color: #223;
  font-weight: bold;
}
p{
  color: #223;
  font-weight: bold;
}
.btn {
  text-align: center;
}
.btn-bio {
  background: transparent;
  padding: 10px 25px;
  width: 150px;
  border-radius: 25px;
  border: 1px solid #7fd6da;
  color: #7fd6da;
  cursor: pointer;
}
.btn-bio:hover {
  color: blue;
  box-shadow: 0 6px 15px 1px rgba(0, 0, 0, 0.3);
}

.btn-bio:focus {
  outline: 0;
}




