<!DOCTYPE html>
<html>
<head>
<title>Pet Lovers Community</title>
<link rel = "stylesheet" type = "text/css" href = "Styles/FP.css" />
</head>
<body background = "Images/featbg.jpg">
 <center>
  <h1 class = "header">TOP 10 FEATURED PETS</h1>
 </center>
 
 <div id = "box1">
	<img src = "Images/1-1.jpg" width = 262 height = 172 />
 </div>
 
 <div id = "box2">
	<h2 class = "header"> 1. Lowchens </h2>
	<p class = "words"> Lowchens also known as "little lions" are small, long-haired dogs that have been recognized as a breed since
						the Renaissance. Lowchens are widely noticed on many prominent Renaissance paintings, the breed was very popular
						with nobleman.</p>
 </div>
 
 <div id = "box3">
	<img src = "Images/2-1.jpg" width = 262 height = 172 />
 </div>
 
 <div id = "box4">
	<h2 class = "header"> 2. Samoyed </h2>
	<p class = "words"> The Samoyed is a breed of dog that takes its name from the Samoyedic peoples of Siberia. These nomadic reindeer
						herders bred the fluffy white dogs to help with the herding, and to pull sleds when they moved. These dogs are
						playful competitive, strong and alert.</p>
 </div>
 
 <div id = "box5">
	<img src = "Images/Animals.jpg" width = 262 height = 172 />
 </div>
 
 <div id = "box6">
	<h2 class = "header"> 3. Scottish Fold </h2>
	<p class = "words"> The face of this cat looks like that of an owl because of its ears that bend down towards its forehead to seem
						as if it does not have any ears at all. Its ears make it sometimes called lop-eared cat to be like the lop-eared
						rabbit which has the same physical feature.</p>
 </div>
 
 <div id = "box7">
	<img src = "Images/russian_blue.png" width = 262 height = 172 />
 </div>
 
 <div id = "box8">
	<h2 class = "header"> 4. Russian blue cat </h2>
	<p class = "words"> This kind of cats is known to be intelligent, curious, playful and friendly not just to young children but to
						other pets also which makes the Russian Blue cat considered for many cat lovers as a perfect option to be kept
						at their homes.</p>
 </div>
 
 <div id = "box9">
	<img src = "Images/Bengal-cat.jpg" width = 262 height = 172 />
 </div>
 
 <div id = "box10">
	<h2 class = "header"> 5. Bengal cat </h2>
	<p class = "words"> It is a hybrid cat breed of an Asian Leopard Cat and a domestic feline. This combination gives this cat different
						features such as the wild appearance, spotted body and its structure that is taken from the Asian Leopard Cat and
						it also has a gentle temperament of a domestics cat.</p>
 </div>
 
 <div id = "box11">
	<img src = "Images/5.jpg" width = 262 height = 172 />
 </div>
 
 <div id = "box12">
	<h2 class = "header"> 6. Rottweiler </h2>
	<p class = "words"> The Rottweiler is a breed of domestic dog, regarded as medium-to-large or large. The dogs were known in German as
						Rottweiler Metzgerhund, meaning Rottweil butchers' dogs, because one of their uses was to herd livestock and pull
						carts laden with butchered meat to market.</p>
 </div>
 
 <div id = "box13">
	<img src = "Images/6.jpeg" width = 262 height = 172 />
 </div>
 
 <div id = "box14">
	<h2 class = "header"> 7. Akita </h2>
	<p class = "words"> The Akita is a large breed dog originating from the mountainous northern regions of Japan. There are two separate
						varieties of Akita: a Japanese strain, commonly called "Akita" Inu and an American strain, known as the "Akita" or
						"American Akita"</p>
 </div>
 
 <div id = "box15">
	<img src = "Images/Ashera.jpg" width = 262 height = 172 />
 </div>
 
 <div id = "box16">
	<h2 class = "header"> 8. Ashera cat </h2>
	<p class = "words"> It is a hybrid cat result from the cross between the Asian Leopard Cat,the African serval and the domestic housecat.
						It is considered to be the rarest cat in the world and has many features such as being affectionate, loyal and
						intelligent.</p>
 </div>
 
 <div id = "box17">
	<img src = "Images/10.jpg" width = 262 height = 172 />
 </div>
 
 <div id = "box18">
	<h2 class = "header"> 9. Czechoslovakian Vicak </h2>
	<p class = "words"> The Czechoslovakian Wolfdog is a relatively new breed of dog that traces its original lineage to an experiment
						conducted in 1955 in Czechoslovakia. The breed was engineered to assist with border patrol in Czechoslovakia but
						were later also used in search and rescue, schutzhund, tracking, herding, agility, obedience and drafting.</p>
 </div>
 
 <div id = "box19">
	<img src = "Images/persian.jpg" width = 262 height = 172 />
 </div>
 
 <div id = "box20">
	<h2 class = "header"> 10. Persian white cat </h2>
	<p class = "words"> It is worth mentioning that the name of the cat is derived from its origin as it originated in Persia which is
						known now as Iran. It has all the features that can increase the beauty of any cat as it has long and soft fur,
						shortened muzzle, round face and is also unpretentious and peaceful.</p>
 </div>
</body>
</html>